*, *:after, *:before
  box-sizing: border-box

body
  line-height: 1.7
  font-family: sans-serif
  background-size: cover
  background-color: $black
  background-image: url(/images/background2.jpeg)


a
  color: $white
  text-decoration: none
  border-bottom: 1px solid $white
  &:hover,
  &:active
    border-color: transparent
    text-decoration: line-through
