@font-face {
    font-family: 'tippa';
    src: url('/font/tippa-webfont.woff2') format('woff2'),
         url('/font/tippa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
