.burrito
  min-height: 100vh
  display: flex
  flex-flow: column nowrap

  main
    flex-grow: 1

.topbar,
.footer
  height: $header-height
  background-color: $black

.inner
  max-width: $content-width
  margin: auto

  @media (max-width: $content-width)
    padding-left: 2em
    padding-right: 2em

.page-header
  padding: 5rem 0
  text-align: center
  text-transform: uppercase
  h1
    font-size: 3.3rem
    line-height: 1
    color: $white
    margin: 0
    font-family: tippa
  p
    margin: 0

.banner
  display: inline-block
  padding: 0.23em 0.7em .2em
  font-size: 1.6rem
  font-weight: 600
  line-height: 1
  letter-spacing: -3px
  background-color: $white
  color: $black
  font-family: tippa
  text-transform: lowercase
  border-radius: 1px

.section--blurb,
.blurb
  padding: .1em .8em
  font-size: 1.2rem
  font-family: tippa
  font-weight: 600
  background: rgba($black, 0.9)
  color: $white

.main
  padding-bottom: 5rem

.main--single
  h2, h3, h4
    font-family: tippa

.main--single,
.services-list li,
.services-list--large li
  padding: .2rem 1rem 1.4rem
  background-color: rgba($black, 0.9)
  color: $white

.nav
  margin: 0
  padding: 0
  display: flex
  color: $white
  list-style: none

  li
    margin-right: 2rem

  a
    display: block
    height: $header-height
    padding: .5em .5em 0
    line-height: 2.8
    font-weight: 600
    color: $white
    text-decoration: none
    border-bottom: 3px solid transparent

    &:hover
      border-color: $white

a.logo
  font-size: 1.3rem
  font-family: tippa
  line-height: 1.9
  text-transform: uppercase

.logo-font
  text-transform: uppercase

.section__title
  background-color: $white
  font-family: tippa
  display: inline-block
  padding: 0.1em .5rem

.services-list,
.services-list--large
  display: flex
  padding: 0
  //justify-content: space-between
  flex-flow: row nowrap
  list-style: none
  @media (max-width: $content-width)
    flex-flow: row wrap

  p
    margin-top: .3rem
    margin-bottom: .3rem
  h3
    margin-bottom: .3rem

.services-list
  li
    flex: 0 0 30%
    margin-bottom: 1.5rem
    margin-right: 2em

.services-list--large
  justify-content: space-between
  li
    flex: 0 1 48%

.blog-list
  list-style: none
  padding: 0
  color: $white
  li
    margin-bottom: 3rem
    background: $black
    padding: .2rem 1rem 1.4rem
  h3
    font-size: 1.6rem
    font-family: tippa

.blog-single--date
  display: inline-block
  margin-bottom: 2rem
  padding: .2rem 1rem .2rem
  color: $white
  background-color: $black

.mt-l
  margin-top: 5rem
