{{ define "title"}}
<title>{{ .Title}} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}

{{ end }}

{{ define "main" }}
<div class="page-header">
  <h1>{{ .Title }}</h1>
</div>
<div class="main--section">
  <div class="section--blurb">
    {{ .Content }}
  </div>

  <section>
    <ul class="services-list--large">
      {{ range .Paginator.Pages }}
      <li>
        <h3>{{.Title}}</h3>
        <p>{{.Content}}</p>
        <a href="{{.Permalink}}" title="Read all '{{.Title}}'">Read all</a>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
