<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
    {{- block "title" .}}{{- end }}
    {{- block "head" .}}{{- end }}
  </head>
  <body class="no-js">
    <div class="burrito">
      {{- partial "header.html" . -}}
      <main id="content" name="content" class="inner">
        <div class="">
          {{- block "main" . }}{{- end }}
        </div>
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
