{{ define "title"}}
<title>{{ .Title}} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}

{{ end }}

{{ define "main" }}
<div class="page-header">
  <h1>{{ .Title }}</h1>
</div>
<div class="main--single">
  <div class="">
    {{ .Content }}
  </div>
</div>
{{ end }}
