<footer class="footer">
  <div class="inner">
    <nav>
      <ul class="nav">
        {{ with .Site.GetPage "/contact" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/tos" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/friends" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      </ul>
    </nav>
  </div>
</footer>
