<header class="topbar">
  <nav class="inner">
    <ul class="nav">
      <li><a href="/" class="logo">{{ .Site.Title }}</a></li>
      {{ with .Site.GetPage "/about" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/services" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/blog" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .Site.GetPage "/support" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    </ul>
  </nav>
</header>
