{{ define "title"}}
<title>{{ .Site.Title }} - {{ .Site.Params.slogan }}</title>
{{ end }}

{{ define "head" }}

{{ end }}

{{ define "main" }}
<div class="page-header">
  <h1>{{ .Site.Title }}</h1>
  <p class="banner">{{ .Site.Params.slogan }}</p>
</div>
<div class="main">
  <div class="blurb">
    {{ .Content }}
  </div>

  <section class="mt-l">
    <h2 class="section__title">Services</h2>
    <ul class="services-list">
      {{ with .Site.GetPage "section" "services" }}
        {{ range .Paginator.Pages}}
          <li>
            <h3>{{.Title}}</h3>
            <a href="{{.Permalink}}" title="More about {{.Title}}">More about that</a>
          </li>
        {{ end }}
      {{ end }}
      </ul>
  </section>

  <section class="mt-l">
    <h2 class="section__title">From the blog</h2>
    <ul class="blog-list">
      {{ with .Site.GetPage "section" "blog" }}
      {{ range .Paginator.Pages }}
      <li>
        <h3>{{.Title}}</h3>
        <p><time datetime="{{.Date}}">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time></p>
        <p>{{.Content | truncate 180}}</p>
        <a href="{{.Permalink}}" title="Go to '{{.Title}}'">Go to full post</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
